@inject ILogger<object> _logger
@{
    _logger.LogInformation("********** Views/Home/Index.cshtml");
    ViewData["Title"] = "Home Page";
}

@if (Context.Request.Query["hata"] == "gecersiz")
{
    <div class="alert alert-danger">
        Geçerli bir geçiş kodu bulunamadı.
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
